In [5]:
import pymongo

In [7]:
client = pymongo.MongoClient("mongodb://127.0.0.1:27017/")

In [8]:
#creating database named teacher
mydb = client["teacher"]

In [9]:
#creating collection name teacherinformation
information =mydb.teacherinformation

In [10]:
#information going to insert into collection
record = {
    "firstname":"Ram",
    "lastname":"Oli",
    "faculty":"CSIT"
    
}

In [12]:
#inserting only one record 
information.insert_one(record)

InsertOneResult(ObjectId('65c3b91fe824398fc305af2f'), acknowledged=True)

In [13]:
#let's insert multiple record for that we have to make list of dict
record =[ {
    "firstname":"Shyam",
    "lastname":"Khatri",
    "faculty":"CSIT",
    "address":"Dang"  
},
    {
    "firstname":"Kiran",
    "lastname":"Sharma",
    "faculty":"BIM",
    "address":"KTM",
    "age":22
}]

In [14]:
information.insert_many(record)

InsertManyResult([ObjectId('65c3ba4ae824398fc305af30'), ObjectId('65c3ba4ae824398fc305af31')], acknowledged=True)